<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<div>
  <h2>Owned Projects</h2>
    <%= render 'owned_projects' %>
</div>
<br>
  <h2>Sponsored Projects</h2>
    <%= render 'sponsored_projects' %>
</div>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
